.why-main-section {
  position: relative;
  padding: 50px 0 80px 0;
  background: #323953 url("../images/why/why-stripes-background.png") center / cover no-repeat;
  margin-bottom: 150px;

  .large-text {
    color: $white;
    line-height: 35px;
  }

  .content {
    position: relative;
  }
}

.why-heading {
  position: relative;
  color: #ffffff;
  margin-bottom: -15px;

  &:after {
    content: '';
    background: $red;
    box-shadow: 0px -6px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-180deg);
    width: 35px;
    height: 10px;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    margin-left: 10px;
  }
}

.giant-text {
  font-size: 40px;
  font-weight: 600;
  color: $white;
  margin: 100px 0 30px 0;
}

.why-background {
  position: absolute;
  bottom: -113px;
  z-index: -1;
  right: 0;
  width: 100%;
}

.why-unitedcode-logo {
  position: absolute;
  width: 180px;
  right: 0;
  top: -30px;
}

.delivery-manager-pods {
  margin-top: 120px;
}

.delivery-manager-section {
  background: #EAEEFB;
  padding-top: 150px;
  padding-bottom: 7%;
  margin-top: -200px;
  position: relative;
  z-index: -2;
}

.delivery-manager-pod {
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  padding: 20px 30px;
  margin-bottom: 30px;

  .large-text {
    line-height: 38px;
    margin: 0;
    display: flex;
    align-items: center;

    > img {
      margin-right: 20px;
    }
  }
}

.delivery-manager-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > img {
    margin-right: 50px;
  }

  .small-text {
    color: #323953;
  }
}

.advantages-label {
  color: #616883;
  text-align: center;
  margin: 60px 0 20px 0;
}

.expertise-section {
  position: relative;
  padding-bottom: 60px;
}

.expertise-table {
  background: $white;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.12);
  border-radius: 49px;
  padding: 40px 40px 60px 40px;
}

.expertise-table-headers {
  display: flex;
  justify-content: space-between;
}

.expertise-table-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EAEEFB;

  &:last-child {
    border: none;
  }
}

.expertise-table-column {
  display: flex;
  align-items: center;
  padding: 10px 0;

  &:first-child {
    width: 40%
  }

  &:nth-child(n+2) {
    width: 20%;
    justify-content: center;
    color: #151821;
    text-align: center;
  }
}

.expertise-table-headers {
  font-weight: 600;
  text-align: center;
}

.expertise-table-list {
  list-style: none;
  line-height: 16px;
  padding: 0;
  text-align: left;

  li:before {
    content: '-';
    margin-right: 3px;
  }
}

.expertise-table-blue-background {
  width: 100%;
  background: #2C3145;
  display: flex;
  position: absolute;
  bottom: -13%;
  z-index: -1;

  &:before {
    content: '';
    padding-top: 900px;
  }
}

@media screen and (max-width: 640px){
  .why-unitedcode-logo {
    position: relative;
    display: block;
    margin: 60px auto -70px;
  }

  .delivery-manager-content {
    flex-direction: column;

    > img {
      margin-bottom: 20px;
    }
  }
}